html
    head
        title My Blog
        link(rel="stylesheet", href="/css/homepage.css")
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")

        link(href="./index.js")
    body
        main
            nav 
              ul(class="navbar")
                li 
                  a(href="") Home
                li
                  a(href="/Articles") Articles
                li 
                  a(href="/write-article") Write an article
                  
            img(class="main-img" src="/img/main.jpg")
            div(class="title")
              h1 Welcome <br> To my Blog
            div(class="container")
              div(class="pres")
